body {
    height: 100vh;
    width: 100vw;
    background-color: #f3e0e2;
    display: grid;
    place-items: center;
    margin: 0;
}

main {
    display: flex;
    height: 75vh;
    width: 90vw;
    max-width: 750px;
    border-radius: .4rem;
    box-shadow: -1px -1px 29px 3px rgba(154, 143, 144, 1);
    overflow: hidden;
    text-align: center;
}

.ball {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    background-color: #fff;
}

.ball ~ .ball {
    background-color: #ff4550;
    top: unset;
    bottom: 20%;
}

main>div {
    padding: 2rem;
    flex: 1;
}

a {
    text-decoration: none;
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;


}

button {
    background-color: orangered;
    padding: .7rem 2.5rem;
    border-radius: 2rem;
    border: none;
    color: #eee;
    font-weight: 600;

}

input {
    background-color: #eee;
    padding: .8rem;
    border: none;
    display: block;
    width: auto;
}

img {
    border: solid 1px grey;
    padding: .4rem;
    border-radius: 50%;
}

main>div:nth-child(1)>div {
    display: flex;
    place-content: center;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

h1 {
    margin-top: 0;
    line-height: 1rem;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 3rem;
}

main>div:nth-child(1) {
    background-color: #fff;
    color: #010000;
}

main>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ff4550;
    color: #eee;
    font-family: sans-serif;

}


h2 {
    font-size: xx-large;

}